<template name="privacy">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Privacy Policy</h1>
    {{/contentFor}}
    {{#ionContent}}
        <h1>Privacy Policy</h1>

        <p>Privacy is important, therefore you will never share any information about you unless you really want
            to.<br/>Everybody will be able to see all walks and claims of yours, but by default the app uses an alias
            name. This name is shown in the high-score list and - if you want - your Facebook or Twitter image may be
            shown as well.<br/>Use the settings to adjust your privacy settings.</p>

        <p>Walk of Claim by Stephan Hochhaus collects information regarding the location of a person and associates it
            with the social network account of a player on Twitter or Facebook.</p>

        <p>
            Stephan Hochhaus shares this information with no external parties whatsoever. The data is only kept for the
            purpose of playing the game and is not shared or accessible to either Facebook or Twitter.
        </p>

        <p>
            This policy is subject to change without notice. Please check the <em>About</em> page for the latest privacy policy. If
            you disagree with this policy, please discontinue using the application.
        </p>

<p><br/><br/></p>
    {{/ionContent}}
</template>