<template name="terms">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Terms of use</h1>
    {{/contentFor}}
    {{#ionContent}}
        <h1>Terms of use</h1>

        <p>To be able to identify you as a player you need to log in via Twitter or Facebook. No information from your
            account will ever be read or even sold to advertisers. All the application needs is to tell you apart from
            other players.<br/>
            All your location data is anonymized and stored on the gaming servers and linked to your unique player ID in
            the game. It is not associated with your accounts in any social network.<br/>
            If you like the game you can enable sharing of successful claims to your Facebook wall or tweets.</p>

        <p>The app is provided as is. I take no responsibilities for accidents or injuries that occured
            in combination
            with using this app.<br/> <strong>Always keep your eyes open and mind the traffic!</strong></p>
<p><br/><br/></p>
    {{/ionContent}}
</template>